/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* #wrapper{
    background-color: lightgrey;
} */
body{
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif; /*sans-serif = senza grazie*/
    font-weight: 600;
}

/* COLOR */
.bg-white{
    background-color: white;
}

.editorial{
    background-color: deepskyblue;
   
}

.goals{
    background-color: mediumpurple;
}

.recruiting{
    background-color: mediumaquamarine;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: rgb(233, 109, 233);
}

.sales{
    background-color: #B0C926;
}


/* HEADER */

header{
    padding: 10px;
}

header img{ /*la classe viene applicata a tutte le img dentro header*/
    vertical-align: middle;
}
h1{
    display: inline-block;
    vertical-align: middle;
}

/* MAIN */

main{
    width: 70%;
    margin: 50px auto;
    border-radius: 5px;
    color: #444;
}

.top{
    border-bottom: 2px solid lightcyan;
}

.top, .todolist{ /*N.B. mettere la virgola tra le varie classi alle quali applicare lo stile!*/
    padding: 20px 40px;
}

.btn{
    padding: 6px 10px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: lightgray;
    cursor: pointer;
}

.btn-add{
    background-color: deepskyblue;
    color: white;
    border-color: deepskyblue;
}

h3{
    display: inline-block;
}

li{
    list-style: none;
    margin-top: 25px;
}

.tag{
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 12px;
}

.circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid mediumaquamarine;
    color: mediumaquamarine;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
}

.cross{
    border: 1px solid red;
    color: red;
}

div.todolist > ul{
    margin-top: 30px;
}









