*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
  }
/* HEADER */

.header{
    background-color: white;
}

.logo{
    width: 100px;  
}

.logo-text{
    font-size: 60px;
    background-color: transparent;
}

/* BODY */

.container{
    width: 1200px;
    margin: 50px auto;
    background-color: white;
}

.add-buttons{
    background-color: white;
    padding: 20px;

}
.add-task{
    background-color: aqua;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 10px;
}

.add-section{
    background-color: white;
    border-radius: 2px;
    border-color: lightgray;
    color: lightgray;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 10px;
}



.list{
    background-color: brown;
}

.editorial{
    background-color: rgb(36, 177, 233);
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 15px;
    margin: 5px;
}

.goals{
    background-color: rgb(138, 36, 233);
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 15px;
    margin: 5px;
}
}

.recruiting{
    background-color: rgb(61, 179, 120);
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 15px;
    margin: 5px;
}
}

.mobile{
    background-color: rgb(236, 168, 41);
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 15px;
    margin: 5px;
}
}

.website{
    background-color: rgb(187, 81, 178);
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 15px;
    margin: 5px;
}
}

.sales{
    background-color: rgb(139, 201, 68);
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 15px;
    margin: 5px;
}
}