*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
  }
/* HEADER */

.header{
    background-color: white;
}

.logo{
    width: 100px;  
}

.logo-text{
    font-size: 60px;
    background-color: transparent;
}

/* BODY */

.container{
    width: 1200px;
    margin: 50px auto;
    background-color: white;
}

.add-buttons{
    background-color: white;
    padding: 20px;
}
.add-task{
    background-color: aqua;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 10px;
}

.add-section{
    background-color: white;
    border-radius: 2px;
    border-color: lightgray;
    color: lightgray;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 10px;
}

hr{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1200px;
}

.list{
    background-color: white;
    padding-block-start: 10px;
}